/* firebase ui style and overrides */
@import '@firebase-ui/styles/dist.css';
@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

.fui-screen {
  width: 100%;
  .fui-card {
    width: -webkit-fill-available;
    @media screen and (max-width: 400px) {
      width: min-content;
      justify-self: center;
    }
  }
}

.slider-carousel {
  width: 90%;
  display: grid;
}

.MuiStep-root.MuiStep-vertical {
  width: 100%;
  .MuiStepConnector-root.MuiStepConnector-vertical {
    display: none;
  }
  .MuiStepLabel-root.MuiStepLabel-vertical {
    display: flex;
    flex-direction: row !important;
    gap: 20px;
    .MuiStepLabel-alternativeLabel {
      text-align: start;
      margin-top: 0;
    }
  }
}
