name: API Workflow

on:
  pull_request:
    branches: [main]
    paths:
      - "**/abc-store-api/**"

jobs:
  build:
    runs-on: ubuntu-latest
    name: CI Test with coverage

    defaults:
      run:
        working-directory: ./abc-store-api

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x

      - name: Restore Dependencies
        run: dotnet restore

      - name: Test
        run: dotnet test --collect:"Code Coverage" --settings:.runsettings
