name: API Workflow

on:
  pull_request:
    branches: [main]
    paths:
      - "**/abc-store-api/**"
permissions:
  contents: read
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest
    name: CI Test with coverage

    defaults:
      run:
        working-directory: ./abc-store-api

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x

      - name: Restore Dependencies
        run: dotnet restore
        working-directory: ./abc-store-api/ABCStoreAPI

      - name: Test
        run: dotnet test --collect:"Code Coverage" --settings:.runsettings
        working-directory: ./abc-store-api/ABCStoreAPI

      - name: Code Coverage Report
        uses: irongut/CodeCoverageSummary@v1.3.0
        with:
          filename: /**/Coverage/**/*.cobertura.xml
          badge: true
          fail_below_min: false
          format: markdown
          hide_branch_rate: false
          hide_complexity: true
          indicators: true
          output: both
          thresholds: "40 80"

      - name: Add Coverage PR Comment
        uses: marocchino/sticky-pull-request-comment@v2
        if: github.event_name == 'pull_request'
        with:
          recreate: true
          path: code-coverage-results.md
